!!! 5
html
  head
    title
      | EASY-HOST
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='../public/css/dashboard.css', rel='stylesheet', media='screen')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='../../assets/js/html5shiv.js')
      script(src='../../assets/js/respond.min.js')
    script
      function renameSite (id){
        var site_lbl = document.getElementById("site_lbl"+id);
        var site_div = document.getElementById("site_div"+id);
        site_lbl.style.display = "none";
        site_div.style.display = "block";
        document.getElementById("site_name"+id).focus();
      }
      function removeTxt(id)
      {
        var site_lbl = document.getElementById("site_lbl"+id);
        var site_div = document.getElementById("site_div"+id);
        site_lbl.style.display = "block";
        site_div.style.display = "none";
      }
      $(document).ready(function(){
        $("#button").click(function(){
          $("#toggle-mask").toggle();
        });
      });
  body
    .row.rowcustom.bk
      nav.navbar.navbar-inverse(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.visible-xs(href='/', style='color: white; font-size: 3em;') EASY HOST
        .collapse.navbar-collapse.navbar-ex1-collapse
          .container
            .col-lg-6.visible-lg.visible-md.visible-sm
              a.navbar-brand(href='/', style='color: white; font-size: 3em;') EASY HOST
            .col-lg-2.pull-right
              h1(style='color: white; font-size: 2em; margin-top: 11px;') Dashboard
    br
    .container.containercustom
      br

      each item in data
        if (item.plan_type == "free")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.clearfix.freeplan
            .col-lg-3.col-md-4.col-sm-5.col-xs-12(style='margin-right: -60px; margin-top: 3px;')
              img.projectimage(src='../public/img/courseloads2.png', alt='')
            .visible-xs
              br
            .col-lg-9.col-md-8.col-sm-7.col-xs-12(style='margin-top: 5px;')
              h3(id="site_lbl"+item._id).h3custom #{item.site_name}
              div(id='site_div'+item._id,style='display: none; margin-top: -2px;')
                form(action="renameSite", method="POST")
                  input.form-control.formcustom(type='text', id='site_name'+item._id, name='site_name', value='#{item.site_name}', style='width: 50%; float: left;')
                  input.form-control(type='hidden', name='site_id', value='#{item._id}')
                  //- input(type="submit", id="update", value="Change", class="btn btn-success",  style='float: left;')
                  span.glyphicon.glyphicon-remove-circle.btn-lg(onclick='removeTxt("'+item._id+'")', style='cursor: pointer; font-size: 22px;margin-top: -9px; margin-bottom: 4px;')
              a.acustom.clearfix(href='http://courseloads.improwised.com/')
                p.linkSpace #{item.url}
              a#edit.buttoncustom()
                span.glyphicon.glyphicon-edit
                | &nbsp;Edit
              a.buttoncustom(onclick='renameSite("'+item._id+'")')
                span.glyphicon.glyphicon-pencil
                | &nbsp;Rename
              a.buttoncustom(htrf='#', data-toggle='modal', data-target='#myModal')
                span.glyphicon.glyphicon-plus
                | &nbsp;Get Domain
              .visible-xs
                br
              a.buttoncustom(href='history.html')
                span.glyphicon.glyphicon-list-alt
                | &nbsp;History
              a.buttoncustom(htrf='#', data-toggle='modal', data-target='#myModal')
                span.glyphicon.glyphicon-remove
                | &nbsp;Delete
              div(style='margin-top: 8px; color: #a2a2a2;') Date : 5 / 5 / 2013
        else
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.clearfix.paidplan
            .col-lg-3.col-md-4.col-sm-5.col-xs-12(style='margin-right: -60px; margin-top: 3px;')
              img.projectimage(src='../public/img/courseloads2.png', alt='')
            .visible-xs
              br
            .col-lg-9.col-md-8.col-sm-7.col-xs-12(style='margin-top: 5px;')
              h3(id="site_lbl"+item._id).h3custom #{item.site_name}
              div(id='site_div'+item._id,style='display: none; margin-top: -2px;')
                form(action="renameSite", method="POST")
                  input.form-control.formcustom(type='text', id='site_name'+item._id, name='site_name', value='#{item.site_name}', style='width: 50%; float: left;')
                  input.form-control(type='hidden', name='site_id', value='#{item._id}')
                  //- input(type="submit", id="update", value="Change", class="btn btn-success",  style='float: left;')
                  span.glyphicon.glyphicon-remove-circle.btn-lg(onclick='removeTxt("'+item._id+'")', style='cursor: pointer; font-size: 22px;margin-top: -9px; margin-bottom: 4px;')
              a.acustom.clearfix(href='http://courseloads.improwised.com/')
                p.linkSpace #{item.url}
              a#edit.buttoncustom()
                span.glyphicon.glyphicon-edit
                | &nbsp;Edit
              a.buttoncustom(onclick='renameSite("'+item._id+'")')
                span.glyphicon.glyphicon-pencil
                | &nbsp;Rename
              a.buttoncustom(htrf='#', data-toggle='modal', data-target='#myModal')
                span.glyphicon.glyphicon-plus
                | &nbsp;Get Domain
              .visible-xs
                br
              a.buttoncustom(href='history.html')
                span.glyphicon.glyphicon-list-alt
                | &nbsp;History
              a.buttoncustom(htrf='#', data-toggle='modal', data-target='#myModal')
                span.glyphicon.glyphicon-remove
                | &nbsp;Delete
              div(style='margin-top: 8px; color: #a2a2a2;') Date : 5 / 5 / 2013

      #edit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialogcustom
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h2.modal-title Edit 
            .modal-body
              .col-lg-12(style='border: 5px dotted #b9b9b9; text-align: center;')
                br
                br
                br
                span.glyphicon.glyphicon-plus(style='color: #b9b9b9;')
                br
                br
                br
                br
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h2.modal-title 1. courseloads
            .modal-body
              h3 Are you sure you want to Delete ?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-danger(type='button') Delete
    script(src='http://code.jquery.com/jquery.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')