extends layouts/default

block main
  h1= Temp

  script.
    function changePass()
    {
      var btn = document.getElementById("btn_pwd");
      var editPwd = document.getElementById("changePwd");
      btn.style.display = 'none';
      editPwd.style.display = 'block';
      document.getElementById('pwd').focus();
      document.getElementById('cancel').style.display = 'block';
    }
    function cancelPwd()
    {
      var cancel = document.getElementById('cancel');
      var btn = document.getElementById("btn_pwd");
      var editPwd = document.getElementById("changePwd");
      btn.style.display = 'block';
      editPwd.style.display = 'none';
      cancel.style.display = 'none';
    }
    function changeName()
    {
      var btnEdit = document.getElementById('btnEdit');
      var edit = document.getElementById('edit');
      var fname = document.getElementById('fname');
      var lname = document.getElementById('lname');
      var cancle = document.getElementById('cancle');
      btnEdit.style.display = 'none';
      edit.style.display = 'block';
      cancle.style.display = 'block';
      fname.readOnly = false;
      lname.readOnly = false;
      fname.focus();
    }
    function cancleName()
    {
      var btnEdit = document.getElementById('btnEdit');
      var edit = document.getElementById('edit');
      var fname = document.getElementById('fname');
      var lname = document.getElementById('lname');
      var cancle = document.getElementById('cancle');
      cancle.style.display = 'none';
      btnEdit.style.display = 'block';
      edit.style.display = 'none';
      fname.readOnly = true;
      lname.readOnly = true;
    }

    function validatePass()
    {
      var pwd = document.getElementById('pwd');
      var c_pwd = document.getElementById('c_pwd');
      var err_lbl = document.getElementById('err_lbl');
      var btn_pass = document.getElementById('btn_pass');
      if(c_pwd.value.length >= 1)
      {
        if(pwd.value != c_pwd.value)
        {
          err_lbl.innerHTML = "Password Does not Match";
          btn_pass.disabled = true;
        }
        else
        {
          err_lbl.innerHTML = "";
          btn_pass.disabled = false;
        }
      }
      else{
        err_lbl.innerHTML = "";
      }
    }

block content
  div.signBody
    .container
    .row
      h2 Account Setting
    br
  .row
   .col-lg-6
    .row
     form(role='form', method='post', action='editName')
      .row
        .col-lg-2
        .col-lg-3
          p(style='margin-left:10px') ( First Name )
        .col-lg-3
          p ( Last Name )
      .col-lg-2.pagination-right
        label(for='name') Name:
      .col-lg-3
        input(id='fname', type='text', name='fname', value='#{item.name.first}', class='form-control', readonly)
      .col-lg-3
        input(id='lname', type='text', name='lname', value='#{item.name.last}', class='form-control', readonly)
      .col-lg-2
        .row
          .col-lg-7
            button#btnEdit(type='button', class='btn btn-primary btn-md', onclick='changeName()') Edit
        .row
          .col-lg-7
            input#edit(type='submit', class='btn btn-primary', value='Go', style='display:none')
          .col-lg-3
            span#cancle(style='display:none;font-size:1.7em',onclick='cancleName()').glyphicon.glyphicon-lg.glyphicon-remove-circle
    br
    .row
      .col-lg-2.pagination-right
        label(for='name') Username:
      .col-lg-6
        input(id='name', type='text', value='#{item.username}', class='form-control', readonly)
    br
    .row
      .col-lg-2
        label(for='email') Email:
      .col-lg-6
        input(id='email', type='text', value='#{item.email}', class='form-control', readonly)
    br
    .row
      .col-lg-2
        label(for='plan') Plan:
      .col-lg-6
        input(id='plan', type='text', value='#{item.plan}', class='form-control', readonly)
    br
    .row
      .col-lg-2
        label(for='date') Created at:
      .col-lg-6
        p #{item.date}
    br
   .col-lg-6
    .row
      | Change Your Password.
      p#err_lbl(style='color:red')
    br
    form(role='form', method='post', action='editPass')
    .row
      input(type='button', id='btn_pwd',value='Edit Password', class='btn btn-primary', onclick='changePass()')
      .row#changePwd(style='display:none')
        .col-lg-4
          input(type='password', placeholder='Change Password', class='form-control', name='pwd', id='pwd')
        .col-lg-4
          input(type='password', placeholder='Confirm Password', class='form-control', name='c_pwd', id='c_pwd', onblur='validatePass()')
        .col-lg-4
          input(type='submit', class='btn btn-success', value='Change', disabled, id='btn_pass')
    br
    .row
      button.btn.btn-default#cancel(style='display:none', onclick='cancelPwd()') Cancel